body{
    background: url("../images/ep_naturalblack.png")
}

.home{
    padding: 20px;
    position: fixed;
    margin: 250px;
    opacity: 0.7;
}

h1{
    padding: 10px;
    font-family:'Montserrat', sans-serif;
    color: #99a6b2;
}

h3{
    margin: 5px;
    font-family: 'Montserrat', sans-serif;
    color: #99a6b2;
}

.enter{
    font-size: 20px;
    padding: 20px;
    background-color: #99a6b2;
    color: #424d57;
    font-family: 'Roboto Mono', monospace;
    margin-left: 82px;
    margin-top: 20px;
}


