body{
    background: url("../images/ep_naturalblack.png")
}

h1{
    font-family:'Montserrat', sans-serif;
    color: #99a6b2;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #99a6b2;
}

.enter{
    font-size: 20px;
    padding: 20px;
    background-color: #99a6b2;
    color: #424d57;
    font-family: 'Roboto Mono', monospace;
}

.name{
text-align: center;
}

.home{
    margin-top: 200px;
}